.products-featured {
  background-color: #ecf0f1;
  @include rem(padding, 35px 0 20px 0);
  @include media-breakpoint-down(xs) {
    @include rem(padding, 30px 0 35px 0);
  }
  .product-card {
    border: 1px solid #ced5df;
  }
  .product-card-information {
    border-top: 1px solid #ecf0f1;
  }
}

.products-heading {
  @include rem(margin-bottom, 35px);
  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

.product-card-image {
  overflow: hidden;
  display: block;
  img {
    transform: scale(1);
    -webkit-transition: 1s ease;
    transition: 1s ease;
    &:hover {
      transform: scale(1.05);
    };
  }
}
