.products {
  @include rem(padding, 30px 0 20px 0);
  @include media-breakpoint-down(xs) {
    @include rem(padding, 30px 0 0 0);
  }
}

.products-featured {
  background-color: #e9ebee;
  border-bottom: 1px solid #dddfe2;
}

.products-heading {
  @include rem(margin-bottom, 30px);
  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

.product-title {
  @include rem(font-size, 18px);
  a {
    color: #000;
  }
  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

.product-card {
  width: 100%;
  background-color: #fff;
  border: 1px solid #dddfe2;
  @include rem(margin-bottom, 35px);
  @include media-breakpoint-down(md) {
    margin: 0 auto;
    @include rem(margin-bottom, 25px);
    @include rem(max-width, 350px);
  }
}

.product-information {
  background-color: #fff;
  width: 100%;
  min-height: 70px;
  border-top: 1px solid #ecf0f1;
  @include rem(padding, 15px 15px 15px 15px);
}

.product-button {
  float: right;
}

.product-placeholder {
  max-width: 350px;
  height: 298px;
  display: block;
  background-color: #eee;
  @include media-breakpoint-down(lg) {
    height: 248px;
  }
  @include media-breakpoint-down(md) {
    height: 281px;
  }
}
