.product-card {
  width: 100%;
  background-color: #fff;
  border: 1px solid #dddfe2;
  @include rem(margin-bottom, 35px);
  @include media-breakpoint-down(md) {
    margin: 0 auto;
    @include rem(margin-bottom, 25px);
    @include rem(max-width, 350px);
  }
}

.product-card-title {
  @include rem(font-size, 18px);
  a {
    color: #000;
  }
  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

.product-card-information {
  background-color: #fff;
  width: 100%;
  min-height: 70px;
  border-top: 1px solid #ecf0f1;
  @include rem(padding, 15px 15px 15px 15px);
}

.product-card-placeholder {
  max-width: 350px;
  height: 298px;
  display: block;
  background-color: #eee;
  @include media-breakpoint-down(lg) {
    height: 248px;
  }
  @include media-breakpoint-down(md) {
    height: 281px;
  }
}

.product-card-button {
  float: right;
}
